h2{
    height: -50px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    background-color: burlywood;
    width: 60%;
    height: 15%;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 30px;
}
p{
    height: -50px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    background-color: beige;
    width: 65%;
    height: 30%;
    padding: 10px;
    margin: auto;
    line-height: 3;
    border: 5px solid black;
    border-radius: 30px;
}
div{
    height: -50px;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 4.5;
    margin: auto;
}
a{
    height: -50px;
    text-decoration: none;
    color:black;
    background-color: bisque;
    width: 30%;
    height: 10%px;
    padding: 20px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    margin: auto;
    line-height: 8;
}
body{
    height: -50px;
    padding: 0;
    margin: 0;
    background: url(imagenes/Jacs3.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: black;
}
